In [33]:
# Testing out techniques from:
# http://neuralnetworksanddeeplearning.com/chap3.html#how_to_choose_a_neural_network's_hyper-parameters

from keras import backend as k
from keras.models import Sequential
from keras.layers import Dense
from keras.objectives import categorical_crossentropy
from keras.metrics import categorical_accuracy as accuracy

import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split

## Data preparation

In [19]:
# Read in the iris data set
data = pd.read_csv("iris.csv")
data.describe()

               ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    75.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      1.000000      4.300000     2.000000      1.000000     0.100000
25%     38.250000      5.100000     2.800000      1.600000     0.300000
50%     75.500000      5.800000     3.000000      4.350000     1.300000
75%    112.750000      6.400000     3.300000      5.100000     1.800000
max    150.000000      7.900000     4.400000      6.900000     2.500000

In [12]:
data.columns

Index(['ID', 'Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [23]:
data["label_num"] = pd.factorize(data["Species"])[0]

In [24]:
data.dtypes

ID                int64
Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
label_num         int64
dtype: object

In [25]:
data.sample(10)

,ID,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,label_num
131,132,7.9,3.8,6.4,2.0,virginica,2
121,122,5.6,2.8,4.9,2.0,virginica,2
96,97,5.7,2.9,4.2,1.3,versicolor,1
65,66,6.7,3.1,4.4,1.4,versicolor,1
26,27,5.0,3.4,1.6,0.4,setosa,0
69,70,5.6,2.5,3.9,1.1,versicolor,1
119,120,6.0,2.2,5.0,1.5,virginica,2
90,91,5.5,2.6,4.4,1.2,versicolor,1
13,14,4.3,3.0,1.1,0.1,setosa,0
33,34,5.5,4.2,1.4,0.2,setosa,0

In [27]:
data_numeric = data.drop(["ID", "Species"], axis=1)

In [28]:
# Convert to numpy array
data_array = data_numeric.as_matrix()

In [34]:
# Split into train, validation, and test
x = data_array[:,:-1]
y = data_array[:,-1:]

x_trainval, x_test, y_trainval, y_test = train_test_split(x, y, test_size=0.1, train_size=0.9)
x_train, x_val, y_train, y_val = train_test_split(x_trainval, y_trainval, test_size=.10, train_size=0.9)

In [35]:
x_train[0:5]

array([[ 5.7,  2.8,  4.1,  1.3],
       [ 5.8,  2.7,  3.9,  1.2],
       [ 5. ,  3.6,  1.4,  0.2],
       [ 6.3,  2.7,  4.9,  1.8],
       [ 4.8,  3.1,  1.6,  0.2]])

In [36]:
y_train[0:5]

array([[ 1.],
       [ 1.],
       [ 0.],
       [ 2.],
       [ 0.]])

In [41]:
len(x_train)

121

In [37]:
len(x_val)

14

In [38]:
len(x_test)

15

In [42]:
len(y_train)

121

In [39]:
len(y_val)

14

In [40]:
len(y_test)

15

## Neural Networking Tuning

In [ ]:
# Start with the simplest network likely to do meaningful learning
input = tf.placeholder(tf.float32, shape=(None, ))